<%= render 'layouts/adminNav' %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header">
          <h1>Editing Product</h1>
        </div>
        <div class="card-body">
          <%= form_with(model: [:admin, @product], local: true, html: { class: "needs-validation", novalidate: "" }) do |form| %>
            <% if @product.errors.any? %>
              <div id="error_explanation" class="alert alert-danger" role="alert">
                <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

                <ul>
                  <% @product.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :category_id %>
              <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
            </div>

            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form-control", rows: 3 %>
            </div>

            <div class="form-group">
              <%= form.label :price %>
              <%= form.number_field :price, step: 0.01, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :ingredients %>
              <%= form.text_area :ingredients, class: "form-control", rows: 3 %>
            </div>

            <div class="form-group">
              <%= form.label :ingredients %>
              <%= form.text_area :ingredients, class: "form-control", rows: 3 %>
            </div>

            <div class="form-group">
            <%= form.check_box :on_sale %>
            <%= form.label :on_sale, "On Sale", class: "form-check-label" %>
          </div>

            <div class="form-group">
              <%= form.label :image %>
              <%= form.file_field :image, accept: 'image/*', class: "form-control-file" %>
            </div>

            <div class="actions">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer bg-transparent">
          <%= link_to 'Show', [:admin, @product], class: "btn btn-info" %> |
          <%= link_to 'Back to List', admin_products_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
