<%= render 'layouts/clientNav' %>
<div class="container mt-5">
  <h1 class="text-center mb-4"><%= @category.name %></h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if product.image.attached? %>
            <%= image_tag(product.image, class: 'card-img-top') %>
          <% else %>
            <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="Placeholder">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <h6 class="card-subtitle mb-2 text-muted">Price: <%= number_to_currency(product.price) %></h6>
            <!-- View button -->
            <%= link_to 'View', product_path(product), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
